<div class="container">

    <h3 mat-dialog-title>{{data.kind}} {{data.title}}</h3>

    <perfect-scrollbar>
        <form
            [formGroup]="formGroup"
            #ngform="ngForm"
            (ngSubmit)="submit(formGroup.value)"
            novalidate
            mat-dialog-content
        >
            <div *ngFor="let field of data?.tableDefinition?.table">
                <div *ngIf="el(field)?.value[el(field)?.type]">
                    <mat-form-field class="mat-field-{{el(field)?.type}}" color="primary">
                        <div [ngSwitch]="el(field)?.type" class="field-{{el(field)?.type}}">
                            <input #input
                                   *ngSwitchCase="fieldType.INPUT"
                                   [required]="isRequiredField(el(field)?.value.validators)"
                                   formControlName="{{field?.def}}"
                                   matInput
                                   name="{{field?.def}}"
                                   placeholder="{{field?.def}}"
                                   type="{{el(field)?.value?.type}}"
                            >
                            <div *ngSwitchCase="fieldType.SELECT">
                                <mat-select class="field-{{el(field)?.type}}-field"
                                            [required]="isRequiredField(el(field)?.value.validators)"
                                            formControlName="{{field?.def}}"
                                            placeholder="{{field?.def}}"
                                >
                                    <mat-option *ngFor="let item of relationsData(field?.related?.name)" [value]="item">
                                        {{item[field?.related?.field]}}
                                    </mat-option>
                                </mat-select>
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>

                        <mat-hint></mat-hint>
                        <mat-error
                            *ngIf="!formGroup.controls[field?.def].valid && formGroup.controls[field?.def].touched">
                            {{
                            getErrorMessage(
                                field?.el?.error,
                                field?.def
                            )
                            }}
                        </mat-error>

                    </mat-form-field>

                    <div [ngSwitch]="el(field)?.type" class="field-{{el(field)?.type}}-actions">
                        <app-datastore-actions
                            *ngSwitchCase="fieldType.SELECT"
                            [data]="actionsButtons.data(buildActionData(field?.related, field?.def ))"
                            [callback]="actionsButtons.callback"
                            [disabled]="isSelected(field?.def)"
                            [display]="actionsButtons.display"
                            class="field-{{el(field)?.type}}-actions"
                        >
                        </app-datastore-actions>
                        <div *ngSwitchDefault></div>
                    </div>

                </div>
            </div>

            <!--Textarea for demo purposes-->
            <!-- <div class="form">
                <mat-form-field color="accent">
                    <textarea #input [(ngModel)]="data.title" class="form-control" matInput name="title" placeholder="Title"
                            required></textarea>
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div> -->

            <!--Contains mat-hint for characters count and has maxLengt set-->
            <!-- <div class="form">
                <mat-form-field color="accent">
                    <input #inputstate [(ngModel)]="data.state" class="form-control" matInput maxlength="10" name="state"
                        placeholder="State" required>
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
                </mat-form-field>
            </div> -->

            <!-- <div class="form">
                <mat-form-field color="accent">
                    <input [(ngModel)]="data.url" matInput name="url" placeholder="Url">
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent">
                    <input [(ngModel)]="data.created_at" matInput name="created_at" placeholder="Created at">
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent">
                    <input [(ngModel)]="data.updated_at" matInput name="updated_at" placeholder="Updated at">
                </mat-form-field>
            </div> -->

            <div mat-dialog-actions>
                <button
                    mat-raised-button
                    (click)="send(formGroup.value)"
                    color="accent"
                    [disabled]="!formGroup.valid"
                    [mat-dialog-close]="1"
                    type="submit"
                >
                    <span *ngIf="isSaveDialog()"> Save </span>
                    <span *ngIf="isUpdateDialog()"> Update </span>
                </button>
                <button
                    mat-raised-button
                    color="warn"
                    (click)="close()"
                    type="button"
                    tabindex="-1"
                >
                    <span *ngIf="isDetailsDialog()"> Close </span>
                    <span *ngIf="!isDetailsDialog()"> Cancel </span>
                </button>
            </div>
        </form>
    </perfect-scrollbar>
</div>
