@import '~@angular/material/theming';

@mixin app-datastore-dialog-component-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .mat-field-select .mat-form-field-wrapper {
        width: 100%;
        float: left;
    }


    .field-select-field {

        .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
            color: transparent;
        }
    }

    .form-field-select {
        display: inline-block;
        width: 75%;
    }

    .field-select-actions {
        display: flex;

        button {
            width: 30px;
            top: 15px;
            left: -5px;
        }
    }


    .dropzone {
        height: 150px;
        margin: auto;
        border: 2px dotted #0782d0;
        border-radius: 15px;

        .ngx-file-drop__content {
            display: contents;
        }
    }

    .mat-field-file {
        .mat-form-field-wrapper .mat-form-field-underline {
            background-color: transparent;
        }
    }

    .test {
        width: 100%;
        height: 100%;
        text-align: center;
        display: grid;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 15px;

        button {
            background: transparent;
            border: none;
        }
    }

}
