@import 'blurmint-theme-mtg';

$theme: mat-light-theme(
        $theme-primary,
        $theme-accent,
        $theme-warn
);
$altTheme: mat-dark-theme(
        $theme-primary,
        $theme-accent,
        $theme-warn
);

$app-blur-mint-theme: $theme;
$app-blur-mint-theme-dark: $altTheme;
