@import '~@angular/material/theming';


@mixin app-user-menu-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .dropdown {
        background: mat-color($primary, 400);
    }

    .user-menu-item {
        width: 100%;
        padding: 0;
        height: 100%;

        .text {
            float: left;
        }

        .icon {
            float: right;
            margin-top: 4px;
        }
    }

    .content .divider {
        border-top-width: 1.5px;
        border-top-color: mat-color($primary);
        border-top-style: solid;
    }


}
