<mat-card class="mat-elevation-z2 card">
    <mat-card-subtitle class="title">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" fxLayout.xs="column">
            <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="2px" class="form">
                <mat-form-field floatPlaceholder="never" color="primary">
                    <input
                        matInput #filter placeholder="Filter"
                    >
                </mat-form-field>
            </div>
            <button
                fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="2px"
                mat-icon-button mat-raise-button disableRipple
                class="iconbutton" color="accent"
                matTooltip="refresh"
                (click)="refreshStore()"
            >
                <mat-icon aria-label="Delete">update</mat-icon>
                Refresh
            </button>
            <!-- <button
                fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="2px"
                mat-icon-button mat-raise-button disableRipple
                class="iconbutton"
                color="warn"
                matTooltip="Delete selected data"
                [disabled]="countSelectedRow() === 0"
                (click)="deleteSelection()"
            >
                <mat-icon aria-label="Delete">Delete</mat-icon>
                Delete
            </button> -->

        </div>




    </mat-card-subtitle>
    <mat-card-content>
        <div class="table">
            <mat-table [dataSource]="dataSource" matSort >
                <ng-container matColumnDef="checkbox">
                    <mat-header-cell *matHeaderCellDef >
                        <mat-checkbox #rowSelections
                            matTooltip="check / uncheck all"
                            [(ngModel)]="rowsSelectionSelected"
                            [(indeterminate)]="rowsSelectionIndeterminate"
                            (change)="rowsSelection_change()"
                            [disableRipple]="true"
                        >
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        <mat-checkbox
                            #rowSelection
                            matTooltip="check / uncheck row"
                            [checked] = "element.selected "
                            (change)="rowSelection_change()"
                            (click)="rowSelection_click()"
                            [disableRipple]="true"
                        >

                        </mat-checkbox>
                        <input #rowSelectionIds hidden  value= "{{element.id}}">
                    </mat-cell>
                </ng-container>
                <ng-container *ngFor="let column of columns"
                              [cdkColumnDef]="column.def"
                >

                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>
                        {{column.def}}
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let row">
                        {{column.row.cell(row)}}
                    </mat-cell>

                </ng-container>

                <!-- datastore Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="action">
                        <app-datastore-actions
                            [callback]="headerActionButton.callback"
                            [data]="headerActionButton.data"
                            [display]="headerActionButton.display"
                        >
                        </app-datastore-actions>

                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="action">

                        <app-datastore-actions
                            [callback]="actionsButtons.callback"
                            [data]="actionsButtons.data(element)"
                            [display]="actionsButtons.display"
                        >
                        </app-datastore-actions>

                        <!--<button-->
                        <!--mat-icon-button-->
                        <!--matTooltip="Details"-->
                        <!--color="accent"-->
                        <!--(click)="Details(element)"-->
                        <!--&gt;-->
                        <!--<mat-icon>visibility</mat-icon>-->
                        <!--</button>-->
                        <!--<button-->
                        <!--mat-icon-button-->
                        <!--matTooltip="Edit"-->
                        <!--color="primary"-->
                        <!--(click)="Edit(element)"-->
                        <!--&gt;-->
                        <!--<mat-icon>border_color</mat-icon>-->
                        <!--</button>-->
                        <!--<button-->
                        <!--mat-icon-button-->
                        <!--matTooltip="Delete"-->
                        <!--color="warn"-->
                        <!--(click)="Delete(element)"-->
                        <!--&gt;-->
                        <!--<mat-icon>Delete</mat-icon>-->
                        <!--</button>-->
                    </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{hovered: row.hovered}"
                    (mouseover)="row.hovered = true"
                    (mouseout)="row.hovered = false"
                ></mat-row>
            </mat-table>

            <mat-paginator #paginator
                [pageSizeOptions]="[10, 50, 100]"
                showFirstLastButtons>
            </mat-paginator>




        </div>
    </mat-card-content>
</mat-card>
