<button
    (click)="callback.details(data.component, data.data)"
    *ngIf="display?.details || display?.all"
    color="accent"
    mat-icon-button
    matTooltip="details"
    disableRipple
>
    <mat-icon>visibility</mat-icon>
</button>

<button
    *ngIf="display?.add || display?.all"
    (click)="callback.add(data.component, data.data)"
    mat-icon-button
    matTooltip="add"
    color="white"
    disableRipple
>
    <mat-icon>add</mat-icon>
</button>


<button
    *ngIf="display?.edit || display?.all"
    (click)="callback.edit(data.component, data.data)"
    mat-icon-button
    matTooltip="edit"
    color="primary"
    disableRipple
>
    <mat-icon>border_color</mat-icon>
</button>
<button
    *ngIf="display?.delete || display?.all"
    (click)="callback.delete(data.component, data.data)"
    mat-icon-button
    matTooltip="delete"
    color="warn"
    disableRipple
>
    <mat-icon>delete</mat-icon>
</button>
